[alias]
  aa = add .
	br = branch
  ci = commit
	co = checkout
	cp = cherry-pick
	hist = log --pretty=format:%h
	last = log -1 HEAD
	st = status
    psuh = push
    wip = commit -m 'wip' -n
[user]
	email = nic@laflamme.io
	name = Nic Laflamme
[core]
	editor = zed --wait
[push]
	default = simple
    autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
