[alias]
        aa = add .
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	hist = log --pretty=format:%h
	last = log -1 HEAD
	st = status
        psuh = push
        wip = commit -m 'wip' -n
[user]
	email = nic@laflamme.io
	name = niclaflamme
[core]
	editor = vim -f -v
[push]
	default = simple
